body{
  background-color:#FEE3EC ;
  text-align: center;
}
h1,h2{
  color: #D22779;
  font-family:'Sacramento',cursive;
  font-size:50px;
  margin: 50px auto 0 auto;
}
h2{
  font-size:40px;
}
p{
  font-size:17px;
}
hr{
  border-style:none;
  border-top-style: dotted;
  border-color: #FF008E;
  border-width: 5px;
  width: 5%;
}
img{
  background-color: #FEE3EC;
}

.top-container{
  background-color: #FEE3EC;
}
.middle-container{
  position: relative;

  top:600px;
}
.bottom-container{
  background-color: #4FBDBA;
  position: relative;
  font-size: 70px;
  top:1250px;
}

.middle-mid{
position: absolute;
top:1700px;
}

.top-c{
  position: absolute;
  right:300px;
  top:50px;
}
.bottom-c{
  position: absolute;
  top:400px;
  left:100px;
}
.land{
  position: absolute;
 right:450px;
  top:520px;
}
